/* Sevices Showcase */
.service-showcase .showcase-img img {
  width: 100%;
  height: 200px;
}

.service-showcase .showcase-content {
  margin: 30px 0;
}

.service-showcase .showcase-content p,
.facts-section .facts-content p {
  font-size: 1.1rem;
  line-height: 120%;
}

/* Info Section */
.info-section {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
  justify-content: space-around;
}

.info-section .info-card {
  width: 500px;
  height: 220px;
  border: 1px solid #333;
  margin: 30px 0;
  padding: 20px;
  background: #f4f3f4;
}

.info-section .info-card p {
  padding: 10px 0 30px;
}

.info-section .info-card .info-btn {
  border: 1px solid #333;
  background: #fff;
  padding: 5px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: #333;
  transition: 1s;
}

.info-section .info-card .info-btn:hover {
  background: #333;
  border-color: lightgray;
  color: #f4f4f4;
}

/* Facts Section */
.facts-section {
  display: flex;
  margin: 30px 0;
  padding: 10px;
  justify-content: space-around;
}

.facts-section .facts-content {
  width: 50%;
}

.facts-section .facts-content ul {
  line-height: 150%;
  margin: 10px;
  padding-left: 25px;
}
